{% extends "blog/base_admin.html" %}

{% block title %}Delete User{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="card shadow-sm p-4">

        <h3 class="mb-3 text-danger">
            <i class="bi bi-trash"></i> Delete User
        </h3>

        <p class="mb-4">
            Are you sure you want to delete user:
            <strong>{{ user.username }}</strong> ?
        </p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">
                <i class="bi bi-x-circle"></i> Yes, Delete
            </button>

            <a href="{% url 'manage_users' %}" class="btn btn-secondary ms-2">
                Cancel
            </a>
        </form>

    </div>
</div>

{% endblock %}
