body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #c5aac1;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000900;
    color: white;
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}
